extends ../layout

block content
    h1 #{__("list_docs")}
    
    - if (documents.length === 0)
        div.alert.alert-primary #{__("empty_database_message")}
    - else
        table#docTable.table.table-striped.table-hover
            thead
                tr 
                    if isAdmin 
                        th
                    th ID
                    th#dateHeader(data-sorting="asc") #{__("doc_date_of_issue")}
                        i.ms-3.bi.bi-sort-numeric-down
                    th
            each document in documents
                - let queryString = ""
                - if (isAdmin)
                    - queryString = "?admin"
                - let status
                - if (document.deleted)
                    - status = "deleted"
                - else
                    - status = "available"
                tr(data-sort=document.dateOfIssue, data-status=`${status}`)
                    if isAdmin
                        if document.deleted
                            td ⛔️
                        else
                            td ✅
                    td #{document._id}
                    td.date #{document.dateOfIssue}
                    td
                        .btn-group(role="group").float-end
                            a(href=`/edit/${document._id}${queryString}`).btn.btn-success.btn-sm #{__("edit_button")}
                            a(href=`/doc/${document._id}${queryString}`).btn.btn-primary.btn-sm #{__("view_button")}
                            - if (!document.deleted)
                                a(href=`/delete/${document._id}${queryString}`).btn.btn-danger.btn-sm #{__("delete_button")}
    script.
        document.addEventListener('DOMContentLoaded', function() {
            const dates = document.querySelectorAll('.date');
            dates.forEach(element => {
                const date = new Date(element.innerHTML);
                const epoch = Math.floor(date / 1000);
                element.parentElement.dataset.sort = epoch;
                const options = {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric'
                };
                const localized = date.toLocaleString(navigator.language, options);
                element.innerHTML = localized;
            });

            const dateHeader = document.getElementById('dateHeader');
            const docTable = document.getElementById('docTable');
            const tbody = docTable.querySelector('tbody');
            const rows = Array.from(tbody.querySelectorAll('tr'));

            dateHeader.addEventListener('click', function () {
                let sorting = dateHeader.dataset.sorting === 'desc' ? 'asc' : 'desc';
                const icon = dateHeader.querySelector('i');
                icon.classList.remove('bi-sort-numeric-up', 'bi-sort-numeric-down');
                icon.classList.remove(dateHeader.dataset.sorting === 'desc' ? 'bi-sort-numeric-up' : 'bi-sort-numeric-down');
                icon.classList.add(dateHeader.dataset.sorting === 'desc' ? 'bi-sort-numeric-down' : 'bi-sort-numeric-up');
                dateHeader.dataset.sorting = sorting;
                const sortedRows = rows.sort((a, b) => {
                    const dateA = a.dataset.sort;
                    const dateB = b.dataset.sort;
                    return sorting === 'desc' ? dateB - dateA : dateA - dateB;
                });

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                
                sortedRows.forEach(row => tbody.appendChild(row));
            });
        });
