nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.container-fluid
    a.navbar-brand(href="/") #{__("app_name")}
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div#navbarNav.collapse.navbar-collapse
      ul.navbar-nav.w-100
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{__("navbar_documents")}
          ul.dropdown-menu
            li 
              h6.dropdown-header #{__("navbar_doc_header")}
            if user.permissions.create
              li.dropdown-item
                a.nav-link(href="/doc/add")
                  i.bi.bi-plus.me-3
                  | #{__("navbar_doc_add")}
            if user.permissions.read_public
              li.dropdown-item
                a.nav-link(href="/doc/list")
                  i.bi.bi-list-ul.me-3
                  | #{__("navbar_doc_list")}
            if user.permissions.create
              li
                h6.dropdown-header #{__("navbar_template_header")}
                li.dropdown-item
                  a.nav-link(href="/template/add")
                    i.bi.bi-plus.me-3
                    | #{__("navbar_template_add")}
                li.dropdown-item
                  a.nav-link(href="/template/list")
                    i.bi.bi-list-ul.me-3
                    | #{__("navbar_template_list")}
        if user.permissions.create
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{__("navbar_info")}
            ul.dropdown-menu
              li.dropdown-item
                a.nav-link(href="/info/add")
                  i.bi.bi-plus.me-3
                  | #{__("navbar_info_add")}
              li.dropdown-item
                a.nav-link(href="/info/list")
                  i.bi.bi-list-ul.me-3
                  | #{__("navbar_info_list")}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{__("navbar_workspaces")}
          ul.dropdown-menu
            if user.permissions.create
              li.dropdown-item
                a.nav-link(href="/workspace/add")
                  i.bi.bi-plus.me-3
                  | #{__("navbar_workspace_add")}
            if user.permissions.read_public
              li.dropdown-item
                a.nav-link(href="/workspace/list")
                  i.bi.bi-list-ul.me-3
                  | #{__("navbar_workspace_list")}
        li.nav-item.dropdown.ms-auto
            a.nav-link.dropdown-toggle.text-uppercase(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
              i.bi.bi-translate
            ul.dropdown-menu.dropdown-menu-end
              each locale in locales.availableLocales 
                li.dropdown-item 
                  a.nav-link.lang-selector(href=`?lang=${locale.code}`, data-lang=`${locale.code}`) #{locale.name}
        - if (user.permissions.manage_users)
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{__("navbar_manage")}
            ul.dropdown-menu.dropdown-menu-end
              li.dropdown-item 
                a.nav-link(href="/manage/users/list") #{__("navbar_manage_users_list")}
        - if (user.role === 'loggedout')
          li.nav-item
            a.nav-link(href="/login") #{__("navbar_signin")}
        - else 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{user.email}
            ul.dropdown-menu.dropdown-menu-end
              li.dropdown-item 
                a.nav-link(href="/manage/you") #{__("navbar_manage_you")}
              li
                hr.dropdown-divider
              li.dropdown-item 
                a.nav-link(href="/logout") #{__("navbar_signout")}
