container.localizedPanel.mt-3(data-lang=`${loc.code}`)
  div.mb-3
    - let info_title = { code: loc.code, text: '' }
    - if (information)
      - info_title = information.labels.find(label => label.locale === loc.code);
    label.form-label(for=`${loc.code}-title`) #{__({ phrase: "modal_new_field_title", locale: loc.code })}:
    input.form-control(type="text", name=`${loc.code}-title`, id=`${loc.code}-title`, value=`${info_title.text}`, placeholder=`${__({ phrase: "modal_new_field_placeholder", locale: loc.code })}`)
  div.mb-3
    - let info_description = { code: loc.code, text: '' }
    - if (information)
      - info_description = information.descriptions.find(description => description.locale === loc.code);
    label.form-label(for=`${loc.code}-info-description`) #{__({ phrase: "modal_new_info_description", locale: loc.code })}:
    input.form-control(type="text", name=`${loc.code}-description`, id=`${loc.code}-info-description`, value=`${info_description.text}`, placeholder=`${__({ phrase: "modal_new_info_description_placeholder", locale: loc.code })}`)
  div.mb-3
    - if (user.permissions.manage_info)
      div.form-check
        - let deleted_status = false 
        - if (information)
          - deleted_status = information.deleted
        - if (deleted_status)
          input.form-check-input(type="checkbox", checked, name="deleted", id=`${loc.code}-deleted`)
        - else 
          input.form-check-input(type="checkbox" name="deleted", id=`${loc.code}-deleted`)
        label.form-check-label(for=`${loc.code}-deleted`) #{__({ phrase: "deleted", locale: loc.code })}
  hr

  table.table.table-sm.table-striped.table-hover.addedInfoList.mb-3(data-lang=`${loc.code}`)
    thead 
      tr 
        th
        th #{__({ phrase: "info_field_title", locale: loc.code })}
        th #{__({ phrase: "info_description", locale: loc.code })}
        th #{__({ phrase: "info_html_safe", locale: loc.code })}
        th
    tbody
      - if (information)
        each field in information.fields
          - let field_label = field.labels.find(label => label.locale === loc.code);
          - let field_description = field.descriptions.find(description => description.locale === loc.code);
          tr.field-row(id=`${loc.code}-${field._id}`, data-lang=`${loc.code}`)
            td.text-center
              i.bi.bi-grip-vertical.field-handle
            td
              input.form-control.form-control-sm.field-label(type="text", name=`${loc.code}-${field._id}`, value=`${field_label.text}`, placeholder=`${__({ phrase: "modal_new_field_title_placeholder", locale: loc.code })}`)
            td
              input.form-control.form-control-sm.field-description(type="text", name=`${loc.code}-${field._id}-field-description`, value=`${field_description.text}`, placeholder=`${__({ phrase: "modal_new_field_description_placeholder", locale: loc.code })}`)
            td
              if field.htmlSafe
                input.form-check-input.field-html(type="checkbox", name=`${loc.code}-${field._id}-field-html`, checked)
              else
                input.form-check-input.field-html(type="checkbox", name=`${loc.code}-${field._id}-field-html`)
            td.text-center
              span.btn.btn-danger.btn-sm.remove-button #{__({ phrase: "INPUT_LBL_REMOVE", locale: loc.code })}

  .mb-3.text-center
    button.btn.btn-primary.add-button(type="button", data-lang=`${loc.code}`) #{__({ phrase: "modal_new_field_info_add", locale: loc.code })}

  div.mb-3