extends ../layout

block content
  h1 #{__("list_workspaces")}
  
  - if (workspaces.length === 0)
    div.alert.alert-primary #{__("empty_database_message")}
  - else
    table#docTable.table.table-striped.table-hover
      thead
        tr 
          if user.permissions.manage_workspaces 
            th
          th ID
          th #{__("th_name")}
          th #{__("th_members")}
          th
      each workspace in workspaces
        - let status
        - if (workspace.deleted)
          - status = "deleted"
        - else
          - status = "available"
        tr(data-status=`${status}`)
          if user.permissions.manage_workspaces
            if workspace.deleted
              td ⛔️
            else
              td ✅
          td
            span(title=`${workspace.id}`) #{workspace.id.slice(-5)}
          td #{workspace.name}
          td #{workspace.members.length}
          td
            .btn-group(role="group").float-end
              - let isWorkspaceAdmin = false
              each member in workspace.members
                if (member.user == user.id) && member.role == "workspace_admin"
                  - isWorkspaceAdmin = true
              if (workspace.privacy != "personal" && (user.permissions.manage_workspaces || isWorkspaceAdmin))
                a(href=`/workspace/edit/${workspace._id}`).btn.btn-success.btn-sm #{__("edit_button")}
              if (user.permissions.read_public)
                a(href=`/workspace/view/${workspace._id}`).btn.btn-primary.btn-sm #{__("view_button")}
              if (workspace.privacy != "personal" && !workspace.deleted && (user.permissions.manage_workspaces || isWorkspaceAdmin))
                a(href=`/workspace/delete/${workspace._id}`).btn.btn-danger.btn-sm #{__("delete_button")}
              if (workspace.privacy != "personal" && workspace.deleted && (user.permissions.manage_workspaces || isWorkspaceAdmin))
                a(href=`/workspace/restore/${workspace._id}`).btn.btn-warning.btn-sm #{__("restore_button")}

