extends layout

block content
    h1.mb-5 #{__("addpage_title")}

    .row.mb-3
        .col-6
            label(for='addFieldInput', class='form-label') #{__("search_field")}:
            input#addFieldInput.form-control(type='text', placeholder=`${__("search_placeholder")}`, onkeyup="searchField()")

    #searchResults.d-none
        ul#searchResultsList.list-group.mb-3
        button(type='button', class='btn btn-primary', data-bs-toggle='modal', data-bs-target='#addFieldModal') #{__("add_new_field")}

    form(id="addForm" action=`/add` method="post")
        hr

        hr#form-sep

        button(type="submit").btn.btn-primary.col-md-2.offset-md-10 #{__("submit_button")}
    

    .modal.fade#addFieldModal
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title#addFieldModalLabel #{__("add_new_field")}
                    button(type='button', class='btn-close', data-bs-dismiss='modal', aria-label=`${__("modal_close")}`)
                .modal-body
                    #error-message.alert.alert-danger.d-none
                        | #{__("modal_new_field_error")}
                    hr#error-hr.d-none
                    
                    input#localeInput(type='hidden', name='locale', value=`${locale}`)
                    label(for='fieldLabel', class='form-label') #{__("modal_new_field_title")}:
                    input#fieldLabel.form-control(type='text', placeholder=`${__("modal_new_field_title")}`, required)

                    hr

                    ul#addedInfoList.list-group.mb-3(style='display: none;')

                    .input-group.mb-3
                        input#infoLabel.form-control(type='text', placeholder=`${__("modal_new_field_info_placeholder")}`)
                        //- select#selectType(name="type")
                        //-     option(value="text") Testo 
                        //-     option(value="number") Numero
                        //-     option(value="date") Data
                        button.btn.btn-outline-primary(type='button', onclick='addInfoField()') #{__("modal_new_field_info_add")}

                    div.mb-3

                .modal-footer
                    button(type='button', class='btn btn-secondary', data-bs-dismiss='modal') #{__("modal_cancel")}
                    button(type='button', class='btn btn-primary', onclick='saveField()') #{__("modal_save")}

    script(src="/field/field.js")
    script.
        const form = document.getElementById('addForm');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            const formDataArray = [];
            let publicValue = false;
            
            for (const [key, value] of formData.entries()) {
                if (key === 'id') {
                    const newObj = { _id: value, fields: [] };
                    formDataArray.push(newObj);
                } else if (key === 'public') {
                    publicValue = value === 'on';
                } else {
                    const lastObjIndex = formDataArray.length - 1;
                    formDataArray[lastObjIndex].fields.push({ _id: key, value: value });
                }
            }

            formDataArray.forEach(obj => {
                obj.public = publicValue;
            });

            fetch('/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formDataArray)
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Errore durante l\'invio dei dati al server');
                }
            })
            .then(data => {
                window.location.href = `/doc/${data.savedDocument._id}`;
            })
            .catch(error => {
                console.error('Errore:', error);
            });
        });
