extends layout

block content
    h1 #{__("document_no")} #{document._id}

    img(src=`${qr}`, alt="QR Code")

    p #{document.dateOfIssue}

    p #{document.issuerFirstName} #{document.issuerLastName}