extends layout

block content
    h1.mb-5 #{__("edit_doc_title")} #{document._id}

    include partials/form_search_field.pug

    form(id="doc-form" action=`/edit` method="post")
        hr

        hr#form-sep

        button(type="submit").btn.btn-primary.col-md-2.offset-md-10 #{__("submit_button")}
    
    include partials/modal_add_field.pug
    
    include partials/fields_scripts.pug

    each info in document.information
            script.
                getField("#{info._id}", !{JSON.stringify(info)});
    script.
        $('#doc-form').on('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const formDataArray = [];
            
            formData.forEach(function(value, key) {
                console.log(key, value)
                if (key === 'id') {
                    const newObj = { _id: value, fields: [] };
                    formDataArray.push(newObj);
                } else if (key === 'public') {
                    const lastObjIndex = formDataArray.length - 1;
                    formDataArray[lastObjIndex].public = value === 'on';
                } else if (key === 'sort') {
                    const lastObjIndex = formDataArray.length - 1;
                    formDataArray[lastObjIndex].sort = value;
                } else {
                    const lastObjIndex = formDataArray.length - 1;
                    formDataArray[lastObjIndex].fields.push({ _id: key, value: value });
                }
            });

            console.log(formDataArray)

            //- $.post({
            //-     url: '/edit/#{document._id}',
            //-     contentType: 'application/json',
            //-     data: JSON.stringify(formDataArray),
            //-     success: function(data) {
            //-         window.location.href = `/doc/${data.savedDocument._id}`;
            //-     },
            //-     error: function(xhr, status, error) {
            //-         console.error('Errore:', error);
            //-     }
            //- });
        });

