extends ../layout

block content
  h1 #{__("list_info")}

  - if (information.length === 0)
    div.alert.alert-primary #{__("empty_database_message")}
  - else
    table#docTable.table.table-striped.table-hover
      thead
        tr 
          if user.permissions.restore 
            th
          th #{__("info_title")}
          th #{__("info_content")}
          th
      each info in information
        - let status
        - if (info.deleted)
          - status = "deleted"
        - else
          - status = "available"
        tr(data-status=`${status}`)
          if user.permissions.restore
            if info.deleted
              td
                i.bi.bi-trash
            else
              td
                i.bi.bi-check

          td #{info.labels.find(label => label.locale === locale) ? info.labels.find(label => label.locale === locale).text : ''}
          td #{info.fields.map(field => field.labels.find(label => label.locale === locale).text).join(', ')}
          td
            .btn-group(role="group").float-end
              a(href=`/info/view/${info._id}`).btn.btn-primary.btn-sm #{__("view_button")}
              a(href=`/info/edit/${info._id}`).btn.btn-success.btn-sm #{__("edit_button")}
              - if (user.permissions.delete && !info.deleted)
                a(href=`/info/delete/${info._id}`).btn.btn-danger.btn-sm #{__("delete_button")}
              - else if (user.permissions.manage_documents && info.deleted)
                a(href=`/info/restore/${info._id}`).btn.btn-warning.btn-sm #{__("restore_button")}
